<%# @user from controller %>
<p>Hi <%= @user.first_name %>,</p>
<p>Thanks for signing up! I hope you enjor our services!</p>
<p>
  Best,<br>
  Zach<br>
  <strong>CEO of ClassyCars </strong>
</p>

<%= link_to "Home page", root_url %>
