<p>Hi <%= @booking.user.first_name %>,</p>
<p>Thanks for booking with us!</p>
<p><%= link_to "Confirmation", booking_url(@booking) %></p>
<p><%= link_to "Mange your trips", bookings_url %></p>
<p>
  Zach<br>
  <strong>CEO of ClassyCars </strong>
</p>

