<div class = "container p-5">
<div class = "card mb-5 p-5 b-rad">
  <h1><b>BOOK YOUR NEXT ADVENTURE WITH US</b></h1>
</div>

<%# Form for pg search %>
<%= form_tag cars_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Enter Location/ Classy model" %>
  <%= submit_tag "Search", class: "btn btn-warning" %>
<% end %>
</div>

